/* BasketItem.css */


.basket-item-container {
  background-color: #e4e3e07b;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-direction: row; 
    gap: 1rem;
    border: 1px solid lightgrey;
    padding: 0.5rem 1rem ;
    padding-bottom: 9px;
    height: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 15px;
    
    height: 120px;
   
}


.basket-item {
  display: grid;
  grid-gap: 10px;
  padding: 5px;
  border-radius: 2rem;
  justify-content: space-between;
  border: 3px solid #dedbdb;
  background-color: #e8e5e5; /* Adjust the background color as needed */
  grid-template-columns: repeat(2, minmax(150px, 1fr)); /* Adjust the number of columns and width as needed */
  border-bottom: 2px solid black;
  width: 90%;
  height: auto;
  background-color: yellow;
}

.product-image-item {
  padding: 1px;
  margin-top: 10px;
  /*border: solid 1px #c2c0c0; /* Adjust border color as needed */
  border: 2px solid black;
  border-radius: 14px;
  width: 30%; /* Set desired width */
  height: 110px;; /* Set desired height */
  display: flex; /* This will allow you to center the image within */
  align-items: center; /* These two properties center the image vertically */
  justify-content: center; 

}
.product-image {
 
  padding: 1px;
  margin-top: 10px;
  /*border: solid 1px #c2c0c0; /* Adjust border color as needed */
  border: 2px solid black;
  border-radius: 14px;
  width: 18%; /* Set desired width */
  height:40%; /* Set desired height */
  display: flex; /* This will allow you to center the image within */
  align-items: center; /* These two properties center the image vertically */
  justify-content: center; 
  

}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-info {
  display: flex; /* Flex layout to align elements horizontally */
  flex-wrap: wrap;
  align-items: center; /* Align vertically */
  justify-content: space-between; /* Distribute space horizontally */
  background-color: yellow;
}
.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}


.product-details {
  grid-column: span 0.5;
  padding: 5px;
  height: 120px;
}

.product-details h3 {
  font-size: 1em;
  line-height: 50px;
  padding: 0 3px;
  font-weight: bold;
  transition: font-size 0.35s;
  color: black;
  flex-grow: 1;
  flex-basis: calc(50% - 8px);
  
}

.product-details p,
.quantity-controls,
.remove-button {
  flex-grow: 0.1;
}
.product-details p {
  font-size: large; /* Adjust the font size as needed */
  font-weight: 600;
  font-style: italic;
  text-align: center;
  transition: font-size 0.35s;
  color: black;
}

.quantity-controls {
  grid-column: span 1;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity-controls button {
  width: 100%;    
    padding: 10px;  
    margin: 10px;    
    font-size: medium;      
    cursor: pointer;
    text-align: center;
    /*background-color: var(--button-color);
    /*color: var(--secondary-background-color);*/
    background-color: black;
    border: solid black;
    color:white;
}
.item-quantity{
  color: black;
}

.remove-button {
  width: 60%;
  padding: 5px;
  margin: 1px;
  font-size: medium;
  cursor: pointer;
  text-align: center; 
  color: #fff;
  background-color: black;
  width: 80%;
  margin-top: 10px; 
}

.remove-button:hover {
  opacity: 0.7;
  transition:  0.5s;
  background-color: red;
  color: black;
}

.subtotal {
  grid-column: span 1;
  padding: 5px;
  font-size: small;
  font-weight: bold;
  text-align: center;
  color: black;
}
.custum-alert{
  background-color: #e3f2fd; /* Example light blue background */
  color: #0d47a1; /* Example dark blue text color */
  /*font-size: 1rem; /* Example font size */
  padding: 10px; /* Adjust padding */
  border: 1px solid #0d47a1; /* Example border color */
  border-radius: 15px; /* Example border radius */
  transition: all 0.3s ease;
  font-size: larger;

}
