/* BasketItem.css */

span {
  color: black;
}

.basket-item-container {
  background-color: #e4e3e07b;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-direction: row; 
    gap: 1rem;
   
    padding: 0.5rem 1rem ;
    padding-bottom: 9px;
    height: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 120px;
   
}


.basket-item {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, minmax(135px, 1fr)); /* number of columns and width  */
  width: 35%;
  height: auto;
  font-size:small;
 
}

.product-image-item {
  padding: 1px;
  margin-top: 10px;
  border-radius: 14px;
  width: 30%; 
  height: 110px;; 
  display: flex; 
  align-items: center; 
  justify-content: center; 

}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.quantity-controls,
.remove-button {
  flex-grow: 0.1;
}


.quantity-controls {
  grid-column: span 1;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity-controls button {
  width: 100%;    
    padding: 10px;  
    margin: 10px;    
    font-size: medium;      
    cursor: pointer;
    text-align: center;
    background-color: rgb(99, 95, 95);
    color:white;
}
.item-quantity{
  color: black;
}

.remove-button {
  width: 60%;
  padding: 5px;
  margin: 1px;
  font-size: medium;
  cursor: pointer;
  text-align: center; 
  color: #fff;
  background-color: rgb(99, 95, 95);
  width: 80%;
  margin-top: 10px; 
}

.remove-button:hover {
  opacity: 0.7;
  transition:  0.5s;
  background-color: red;
  color: black;
}

.subtotal {
  grid-column: span 1;
  padding: 5px;
  font-size: small;
  font-weight: bold;
  text-align: center;
  color: black;
}
.custum-alert{
  background-color: #e3f2fd; 
  color: #0d47a1; 
  padding: 10px; 
  border-radius: 15px; 
  transition: all 0.3s ease;
  font-size:x-large;
}

.bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.left-container {
  width: 40%;
}

.right-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}
