/* BasketPage.css */

.basketPageContainer {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    
  }
  
  .basket-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    
  }
  
  .checkout-button {
    background-color: aliceblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: black;
    transition: 3s;
    width: 300px;
   
  }
  
  .checkout-button:hover {
    background-color: #444bfc;
  }
  .loading {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    color: white; 
  }
  