.selector {
    display: flex;
    justify-content: space-between;
}

.method {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
}

.selector input[type="radio"] {
    display: none;
}

.selector label {
    flex: 1;
    display: inline-flex;
    justify-content: center;
    padding: 10px 0;
    background-color: rgb(225, 223, 223);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.selector label.selected {
    background-color: white;
}
