.form {
  margin-left: 20px;
  align-items: center;
}

.fields input {
  margin-bottom: 5px;
  width: 90%;
  height: 40px;
  padding: 0 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.error {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}
