#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

input {
  padding: 10px;
  border: 1px solid #f9f6f6;
  border-radius: 10px;
  margin-bottom: 10px;
}
.card-image-container {
  display: flex;
  align-items: center;
  height: 25px;
}

.credit-image-wrapper {
  width: 50px;
  height: 25px;
  margin-right: 5px;
  margin-top: 5px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mobile-pay-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-small {
  width: 100px;
}

.input-error {
  border: 1px solid red;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 20px;
}

.input-field:last-child {
  margin-right: 0;
}

.input-row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.form-message {
  color: rgb(201, 22, 22);
  font-size: 14px;
}
.spacer {
  height: 30px;
}

.gift-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.continue-button {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.numeric-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}